.formcontainer{
  display: grid;
  row-gap: 10px;
  column-gap: 30px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-self: center;

}
.photoupload{
  align-self: center;
  /* padding: 10px; */
}
section{
  display:block;
}
.header{
  grid-area: header;
  grid-column: 2 / span 8;
  grid-row: first-line / 1 ;
  justify-self: center;
  font-size: 60px;
  color: white;
  text-shadow: rgb(210, 20, 115) 5px 5px;
  text-align: center;
}
.form-cont1{
  display: flex;
  grid-area: main;
  grid-column: 2 / span 6;
  grid-row: second-line / 2 ;
  justify-self: center;
  font-size: 60px;
  color: white;
  text-shadow: rgb(210, 20, 115) 5px 5px;
  text-align: center;
}
.form-cont2{
  display: flex;
  grid-area: body;
  grid-column: 2 / span 3;
  grid-row: third-line / 3 ;
  justify-self: left;
  font-size: 20px;
  color: rgb(95, 11, 125);
}
.form-cont3{
  display: flex;
  grid-area: body2;
  grid-column: 2 / span 8;
  grid-row: fourth-line / 4 ;
  justify-self: left;
  font-size: 20px;
  color: rgb(95, 11, 125);

}
.form-cont4{
  display: flex;
  grid-area: body3;
  grid-column: 1 / span 8;
  grid-row: seventh-line / 7 ;
  justify-self: left;
  font-size: 20px;
  color: rgb(95, 11, 125);
  /* text-align: center; */
}
.form-foot{
  grid-area: footer;
  grid-column: 1 / span 4;
  grid-row: eight-line / 8 ;
  
}